.full-width{
    width: 100%;
    overflow: hidden;
    .img-container{
        padding-left: 15px;
        margin-bottom: 30px;
    }
    .img{
        width: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        z-index: -2;
    }
    .img::after{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        z-index: -1;
        box-shadow: inset 0px -140px 92px -28px rgba(0, 0, 0, 0.47);
    }
    .desc{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        .tag{
            text-transform: uppercase;
            font-weight: 400;
            color:#fff;
            margin-bottom: 10px;
            font-size: 12px;
            letter-spacing: 3px;
            transition: all .3s ease-in-out;
        }
        .head-article{
            position: relative;
            margin-bottom: 10px;
            transition: .3s;
        }
        a{
            text-transform: uppercase;
            color: #fff;
        }
        p{
            margin-bottom: 5px;
            color: rgba(255, 255, 255, 0.7);
        }
    }
    .text-center{
        text-align: center;
    }
}